body {
    background-color: #3473cb;
}

p, h1{
    font-family: Tahoma, Geneva, sans-serif;
    color: white;
    text-align: center;
}

div {
    margin: auto;
    display: block;
    padding-top: 20%
}

a {
    color: white;
    text-decoration: none
}

a:hover {
    background-color: white;
    color: blue;
}